.passage-widget {
  .he,.ar {
    direction: rtl;
    text-align: right;

    .verse {
      margin-right: 0;
      margin-left: 1em;
    }
  }

  .verse {
    margin-right: 1em;
    display: inline-block;
    direction: ltr !important;
    text-align: left !important;
  }

  sup.note-marker {
    display: inline-block;
  }
  span.note {
    position: absolute;
    z-index: 1000;
  }
}

//
// Colours and visual styles, separated for easy removal
//
.passage-widget-wrapper {
  .passages{
    max-height: 40em;
    overflow-y: auto;
  }
  .tab-bar {
    clear: both;
  }
  sup.note-marker {
    font-weight: bold;
    font-size: 110%;
    margin-left: 0.1em;
    color: #005eae;
    cursor: help;
  }
  span.note {
    width: 10em;
    background: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.5);
    padding: 1em;
  }
}