.passage-widget {
  .he,.ar {
    direction: rtl;
    text-align: right;

    .verse {
      margin-right: 0;
      margin-left: 1em;
    }
  }

  .verse {
    margin-right: 1em;
    display: inline-block;
    direction: ltr !important;
    text-align: left !important;
  }
}

//
// Colours and visual styles, separated for easy removal
//
.passage-widget-wrapper {
  max-height: 40em;
  overflow-y: auto;

  .tab-bar {
    clear: both;
  }
}