.nurani-library-provider-import-form-table .nurani-library-provider-row-depth-2 .nurani-library-provider-col-import {
  padding-right: 2em !important;
}
.nurani-library-provider-import-form-table .nurani-library-provider-row-depth-3 .nurani-library-provider-col-import {
  padding-right: 4em !important;
}
.nurani-library-provider-import-form-table .nurani-library-provider-row-depth-4 .nurani-library-provider-col-import {
  padding-right: 6em !important;
}
.nurani-library-provider-import-form-table .nurani-library-provider-row-depth-5 .nurani-library-provider-col-import {
  padding-right: 8em !important;
}
.nurani-library-provider-import-form-table .nurani-library-provider-row-depth-6 .nurani-library-provider-col-import {
  padding-right: 10em !important;
}