/* line 2, scss/nurani_passage_widget.scss */
.passage-widget .he, .passage-widget .ar {
  direction: rtl;
  text-align: right;
}
/* line 6, scss/nurani_passage_widget.scss */
.passage-widget .he .verse, .passage-widget .ar .verse {
  margin-right: 0;
  margin-left: 1em;
}
/* line 12, scss/nurani_passage_widget.scss */
.passage-widget .verse {
  margin-right: 1em;
  display: inline-block;
  direction: ltr !important;
  text-align: left !important;
}

/* line 23, scss/nurani_passage_widget.scss */
.passage-widget-wrapper {
  max-height: 40em;
  overflow-y: auto;
}
