@import 'arrow_box';

$toolbar_height: 70px;

.ui-dialog .ui-dialog-content.passage-picker-ui {
  position: static;
}
.passage-picker-ui {
  .toolbar,.alternateWorks {
    position: absolute;
    overflow: hidden;
    top: 37px;
    left: 16px;
    height: $toolbar_height;
    // NOTE: The width of the toolbar is (unfortunately) set dynamically via Javascript
    //       @see: PickerUI.didResize()
    background: #fff;
    border-bottom: 2px solid #444;

    .form-item {
      display: inline-block;
      margin: 0 1em 1em 0;
    }
    .form-item-work-filter,
    .form-item-book-filter,
    .form-item-chapter-filter {
      float: right;
    }
  }

  .alternateWorks {
    top: 109px;
    height: 0px; /* Initially hidden, displayed on demand via PickerUI */
    border-bottom: 0;

    .inner {
      padding: 0.5em 1em;
      background: #BDF;
      border-bottom: 2px solid #444;

      & > label {
        float: left;
        width: 30%;
      }
    }

    div.form-item-alternate-works {
      float: right;
      margin-bottom: 0;
    }
  }

  .passages {
    overflow-y: auto;
    padding-top: $toolbar_height;

    & > table {
      border: none;
      margin: 0;

      tr {
        border: none;
      }
    }

    .passage {
      vertical-align: top;
      width: 75%;
    }

    .form-item-passage-row {
      margin: 0;
      white-space: normal;

      .form-checkbox {
        display: block;
        float: left;
        margin-top: 0.3em;
      }
      label {
        display: block;
        margin-left: 2em;
      }
    }
  }

  .annotations {
    // float: right;
    width: 22%;
    // padding-right: 1em;
    background: #aaa;
    box-shadow: inset 1em 0px 1em -1em rgba(0, 0, 0, 0.5);
    // box-shadow: inset 0 0.2em 1em rgba(0, 0, 0, 0.5);

    .annotation {
      display: block;
      margin: 0.25em 0;

      .inner {
        border-radius: 0.5em;
        padding: 1em;
      }

      &.note {
        background: url(annotation-arrow-note.png) left center no-repeat;
        padding-left: 10px;
        .inner {
          background: #eee;
        }
      }

      .value {
        display: none;
      }
    }


  }
}