$toolbar_height: 70px;

.ui-dialog .ui-dialog-content.passage-picker-ui {
  position: static;
}
.passage-picker-ui {
  .toolbar,.alternateWorks {
    position: absolute;
    overflow: hidden;
    top: 37px;
    left: 16px;
    height: $toolbar_height;
    // NOTE: The width of the toolbar is (unfortunately) set dynamically via Javascript
    //       @see: PickerUI.didResize()
    background: #fff;
    border-bottom: 2px solid #444;

    .form-item {
      display: inline-block;
      margin: 0 1em 1em 0;
    }
    .form-item-work-filter,
    .form-item-book-filter,
    .form-item-chapter-filter {
      float: right;
    }
  }

  .alternateWorks {
    top: 109px;
    height: 0px; /* Initially hidden, displayed on demand via PickerUI */
    border-bottom: 0;

    .inner {
      padding: 0.5em 1em;
      background: #BDF;
      border-bottom: 2px solid #444;

      & > label {
        float: left;
        width: 30%;
      }
    }

    div.form-item-alternate-works {
      float: right;
      margin-bottom: 0;
    }
  }

  .passages {
    overflow-y: auto;
    padding-top: $toolbar_height + 5px;

    span.note {
      display: none;
    }

    .form-item-passage-row {
      margin: 0;
    }
  }
}